html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: 'Roboto', sans-serif;
}
:root {
    --text-color: #4A4A4A;
    --salat: #688800;
    --grey: #949494;
}
img{
    max-width: 100%;
}
.wrapper{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
.header_first{
    display: flex;
    justify-content: space-between;
}
.menu_btns{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
main{
    width: 100%;
}
a{
    text-decoration: none;
}
button{
    background-color: transparent;
    text-decoration: none;
    border: 0;
    padding-block: 0px;
    padding-inline: 0px;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.navbar{
    display: none;
    width: 50%;
}
.navbar ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.link{
    color: var(--salat);
    font-size: 1.8rem;
    font-family: 'El Messiri', sans-serif;;
}
.product_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btns_count{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    margin: 20px 0;
}
.good{
    text-align: center;
}
.good h3{
    margin-bottom: 10px;
}
.btns_count button{
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    border: 1px solid var(--grey);
    border-radius: 8px;
}

.btns_buy button:nth-of-type(1){
    margin-bottom: 20px;
}

.btn_select{
    flex-shrink: 0;
    border: 1px solid var(--salat);
    height: 48px;
    border-radius: 50px;
    font-size: 1.8rem;
    color: var(--salat);
    width: 100%;
    font-weight: bold;
}